//Mixin // @mixin upraszcza pisanie kodu i jeśli użyjemy @include to ten kod wklei
@mixin banner{
	width: 100%;
	position: relative;
	color: white;
	.banner-content{
		position: absolute;
		top: 50px;
		width: 100%;
	}
	img{
		width: 100%;
	}
	span{
		font-size: $bH;
		display: block;
		text-transform: uppercase;
		font-weight: bold;
	}
	span.title{
		font-weight: bold;
		margin-bottom: 30px;
	}
}
// & - powoduje że nie musimy przepisywać danej klasy lub id, np. class="dom" to jeśli użyjemy &:after, to nie musimy przepisywać dom:after
@mixin clearFix{
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}

@mixin grid($cols,$mgn){
	float: left;
	margin-right: $mgn;
	margin-bottom: $mgn;
	width: ((100% - (($cols - 1) * $mgn)) / $cols);
	&:nth-child(#{$cols}n){
		margin-right: 0;
	}
}
//$cols - liczba zdjęć w kolumnie , $mgn - margin, grid powoduje ustawianie się zdjęć i jaką mają zajmować powierzchnię dane zdjęcie np $cols = 4, $mgn = 5% to (100 - ((4-1) * 5) / 4 = 21,25% <- tyle zajmuje 1-no zdjecie jeśli w kolumnie znajdują się 4 zdjęcia 
