//Mixin // @mixin upraszcza pisanie kodu i jeśli użyjemy @include to ten kod wklei
@mixin banner{
	width: 100%;
	position: relative;
	color: white;
	.banner-content{
		position: absolute;
		top: 50px;
		width: 100%;
	}
	img{
		width: 100%;
	}
	span{
		font-size: $bH;
		display: block;
		text-transform: uppercase;
		font-weight: bold;
	}
	span.title{
		font-weight: bold;
		margin-bottom: 30px;
	}
}
// & - powoduje że nie musimy przepisywać danej klasy lub id, np. class="dom" to jeśli użyjemy &:after, to nie musimy przepisywać dom:after
@mixin clearFix{
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}

@mixin grid($cols,$mgn){
	float: left;
	margin-right: $mgn;
	margin-bottom: $mgn;
	width: ((100% - (($cols - 1) * $mgn)) / $cols);
	&:nth-child(#{$cols}n){
		margin-right: 0;
	}
}

@mixin mQ($arg...){
	@if length($arg) == 1{
		@media screen and (max-width: nth($arg, 1)){
			@content;
		}
	}

	@if length($arg) == 2{
		@media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg,2)){
			@content;
		}
	}
}
// Szczerze nie wiem jak to działa, ale wydaje mi się, że jeśli podzielimy te dwie liczby i wyjdzie równa liczba 1 lub 2 to wykonuje się dany schemat